body {
    font-family: "Roboto", sans-serif;
    background-color: #1F2937;
    /* ensure the section fully cover the viewport (their full width) */
    margin: 0;
    padding: 0;
}

/* header section styling */
.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10rem;
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* main content section styling */
/* section 1 */
.section1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    gap: 15rem;
    padding: 5rem 10rem;
}

.leftDiv,
.rightDiv {
    width: 50%;
}

.heroHead {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.heroText {
    color: #E5E7EB;
    font-size: 18px;
    line-height: 1.5;
}

.heroImage {
    width: 100%;
}

/* section 2 */
.section2 {
    background-color: white;
    padding: 1rem 10rem;
}

.informationHeader {
    color: #1F2937;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.cardSection {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 5rem;
}

.card {
    background-color: transparent;
    border: 5px solid #3882F6;
    border-radius: 0.5rem;
    max-height: 20rem;
}

.cardImage {
    height: 20rem;
    width: 100%;
    border-radius: 0.2rem;
}

.cardText {
    text-align: center;
    line-height: 1.5;
    font-size: 18px;
}

/* section 3 */
.section3 {
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem;
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
}

.leftQuote {
    text-align: left;
    word-spacing: 10px;
}

.rightQuote {
    text-align: right;
    font-weight: 900;
}

/* section 4 */
.section4 {
    background-color: white;
    padding: 5rem 10rem;
}

.card1 {
    background-color: #3882F6;
    padding: 1.5rem 8rem;
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    border-radius: 0.5rem;
}

.card1Header {
    font-weight: bold;
    font-size: 24px;
}

.card1Text {
    font-size: 18px;
    color: #E5E7EB;
}

.card1Left {
    width: 75%;
}

.card1Right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
}

.card1Button {
    border-radius: 0.5rem;
    border: 2px solid #E5E7EB;
}


/* footer section styling */
.footerText {
    text-align: center;
    color: #E5E7EB;
    padding: 1.5rem 0;
    font-size: 18px;
}

/* general styles */
button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: none;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}