.header {
    font-family: monospace;
    background: papayawhip;

    /* changes */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 auto;
}


.logo {
    font-size: 48px;
    font-weight: 900;
    color: tomato;
    background: white;
    padding: 4px 32px;

    /* align logo horizontally and vetically */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;

}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;

    /* align list items horizontally and vertically */
    display: flex;
    align-items: center;
    justify-content: center;

}

a {
    font-size: 22px;
    background: white;
    padding: 8px;
    /* this removes the line under the links */
    text-decoration: none;

    /* increase space between links */
    margin: 0 10px;

}